<!DOCTYPE HTML>
<html>
	<head>
		<title>Farmacia Digital</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}

        {% block css %}

        {% endblock %}
		
		<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/main.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_breakpoints.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_functions.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_html-grid.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_mixins.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_vars.scss' %}" />
        <link rel="stylesheet" href="{% static 'app/sass/libs/_vendor.scss' %}" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap" async defer></script>
        
	</head>
	<body class="is-preload">

		<!-- Content -->
			<div id="content">

			{% block contenido  %}
			{% if messages %}
				{% for me in messages %}
					{{ me }}
				{% endfor %}
			{% endif %}

            {% endblock %}

			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="{% url 'home'%}">Farmacia Digital</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="#">{{ user.username }}</a></li>
							<li><a href="{% url 'contacto' %}">Contacto</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'listar_medicamento' %}">Stock Bodega</a></li>
								{% if not user.is_superuser and user.tipo_usuario == 'Paciente' %}
									<li><a href="{% url 'listar_receta' %}">Listado Recetas</a></li>
								{% endif %}
								{% if user.is_superuser %}
									<li><a href="{% url 'listar_receta_emitida' %}">Listado Recetas Emitida</a></li>
								{% endif %}
								{% if user.groups.all.0.name == 'PROFESIONAL' %}
									<li><a href="{% url 'agregar_medicamento' %}">Ingreso Medicamentos</a></li>
									<li><a href="{% url 'agregar_receta' %}">Ingreso Recetas</a></li>
									<li><a href="{% url 'profesional' %}">Profesional Paciente</a></li>
									<li><a href="{% url 'reportes' %}">Reportes</a></li>	
								{% endif %}
								<li><a href="{% url 'admin:index' %}">Administrador</a></li>
								<li><a href="{% url 'logout' %}">Cerrar Sección</a></li>
							{% else %}
								<li><a href="{% url 'login' %}">Login</a></li>
							{% endif %}
						</ul>
						
						
						
						
					</nav>

				<!-- Search 
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>

				 Text 
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>Striped:</strong> A free and fully responsive HTML5 site
								template designed by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a>
							</p>
						</div>
					</section>

				 Recent Posts 
					<section class="box recent-posts">
						<header>
							<h2>Recent Posts</h2>
						</header>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Feugiat nisl aliquam</a></li>
							<li><a href="#">Sed dolore magna</a></li>
							<li><a href="#">Malesuada commodo</a></li>
							<li><a href="#">Ipsum metus nullam</a></li>
						</ul>
					</section>

				 Recent Comments 
					<section class="box recent-comments">
						<header>
							<h2>Recent Comments</h2>
						</header>
						<ul>
							<li>case on <a href="#">Lorem ipsum dolor</a></li>
							<li>molly on <a href="#">Sed dolore magna</a></li>
							<li>case on <a href="#">Sed dolore magna</a></li>
						</ul>
					</section>

				 Calendar -->
				 <section class="box calendar">
					<div class="inner">
					  <div id="calendario"></div>
					</div>
				  </section>
				  
				  

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; FarmaciaDigital.</li><li>Diseñado por: <a href="https://github.com/Deevcode">Deevcode</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			{% if messages %}
				{% for me in messages %}
					<script>
						Swal.fire({
							"title": "Felicitaciones",
							"text": "{{me}}",
							"icon": "succes"
						})
					</script>
				{% endfor %}
			{% endif %}
			
            {% block js %}
            {% endblock %}
			<script src="{% static 'app/js/calendar.js' %}"></script>

			<script src="{% static 'app/js/jquery.min.js'%}"></script>
			<script src="{% static 'app/js/browser.min.js'%}"></script>
			<script src="{% static 'app/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'app/js/util.js'%}"></script>
			<script src="{% static 'app/js/main.js' %}"></script>
	</body>
</html>