{% extends 'app/base.html'  %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
<script>
  // Función para mostrar el mensaje de éxito con SweetAlert2
  function mostrarMensajeExito() {
    Swal.fire({
      icon: 'success',
      title: 'Envío exitoso',
      text: 'Tu mensaje ha sido enviado con éxito.',
      showConfirmButton: false,
      timer: 2000
    });
  }
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
{% endblock %}

{% block contenido %}
<h2>CONTACTENOS</h2>
<form action="" class="formulario_contacto" method="post">
  {% csrf_token %}
  <h3>Email:</h3>
  <input type="text" name="mail" placeholder="tu.correo@gmail.com">
  {{ form }}
  <br>
  <div class="d-flex justify-content-end">
    <input type="reset" value="Cancelar" class="btn btn-secondary">
    &nbsp;
    <button type="submit" id="btnEnviar" class="btn btn-primary" onclick="mostrarMensajeExito()">Enviar</button>
  </div>
</form>
{{ mensaje }}
{% endblock %}