{% extends 'app/base.html'  %}

{% load static %}

{% block js %}

{% endblock %}


{% block css %}

{% endblock %}

{% block contenido %}
<h2>REGISTRO ISP DEL MEDICAMENTO</h2>
{% if stocks %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Laboratorio</th>
        <th>Medicamento</th>
        <th>REGISTRO ISP</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.id_ficha_medicamento }}</td>
        <td>{{ stock.laboratorio_ficha }}</td>
        <td>{{ stock.nombre_comercial }}</td>
        <td>{{ stock.url_ficha }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'listar_medicamento' %}" class="btn btn-info"><input type="submit" value="Volver"></a>
{% else %}
  <br>
  <h4>SIN REGISTRO ISP</h4>
{% endif %}
{% endblock %}
