{% extends 'app/base.html'  %}

{% load static %}

{% block js %}

{% endblock %}


{% block css %}

{% endblock %}

{% block contenido %}

<div class="inner">
    <article class="box post post-excerpt">
        <header>
            <h2><a href="#">Levofamil 250/25mg</a></h2>
            <p>Revisa la disponibilidad en Medicamentos del menu</p>
        </header>
        <div class="info">
            <span class="date"><span class="month">Julio<span>y</span></span> <span class="day">1</span><span class="year">, 2014</span></span>
            <ul class="stats">
                <li><a href="#" class="icon fa-comment">102</a></li>
                <li><a href="#" class="icon fa-heart">56</a></li>
            </ul>
        </div>
        <a href="#" class="image featured"><img src="{% static 'app/img/PUBLI2.png' %}" alt="" /></a>
        <p>
            Levofamil 250 mg/25 mg es ideal para el tratamiento de infecciones bacterianas y afecciones gastrointestinales, brindando alivio rápido y promoviendo una pronta recuperación. Su combinación única de ingredientes activos garantiza una acción completa y un efecto duradero.
            ¡Presentamos Levofamil 250 mg/25 mg! 🌟 Este poderoso medicamento combina levofloxacina y famotidina para brindarte una solución efectiva y conveniente. 💊💪
        </p>
    </article>
        <article class="box post post-excerpt">
            <header>
                <h2><a href="#">Bienvenido a Farmacia Digital</a></h2>
                <p>Todo lo que necesitas sobre tu tratamiento medico, lo podras encontrar en nuestra plataforma</a></p>
            </header>
            <div class="info">
                <span class="date"><span class="month">Febrero<span></span></span> <span class="day">20</span><span class="year">, 2023</span></span>
                <ul class="stats">
                    <li><a href="#" class="icon fa-comment">16</a></li>
                    <li><a href="#" class="icon fa-heart">32</a></li>
                </ul>
            </div>
            <a href="#" class="image featured"><img src="{% static 'app/img/fd.png' %}" alt="" /></a>
            <p>
                <strong>Hola!</strong> En nuestra plataforma, tendrás acceso a todo lo que necesitas para tu tratamiento médico. Te proporcionaremos las herramientas necesarias para facilitar el uso de los medicamentos recetados por tu médico o profesional a cargo. Además, podrás configurar a un familiar de confianza para que también tenga acceso a tu cuenta y pueda seguir los detalles de tu tratamiento. De esta manera, te brindamos apoyo integral y garantizamos una atención personalizada.
            </p>
        </article>
        <div class="pagination">
            <div class="pages">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <span>&hellip;</span>
                <a href="#">20</a>
            </div>
            <a href="#" class="button next">Next Page</a>
        </div>
</div>
{% endblock %}

