{% extends 'app/base.html'  %}

{% load static %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $("#filterInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}


{% block css %}

{% endblock %}

{% block contenido %}
<h2> PROFESIONALES </h2>
<div class="medicamento" >

    <div class="profesional">
        <div class="table table-striped table-hover table-responsive-sm">
            <!--<input type="text" id="filterInput" placeholder="Filtrar por...">-->
            <table border="1" class="table">
                <tr>
                  <th>Identificacion Usuario Paciente</th>
                  <th>Identificacion Profesional</th>
                </tr>
                {% for p in profesional %}
                <tr>
                  <td>{{ p.identificacicion_usuario | capfirst  }}</td>
                  <td>{{ p.identificacion_profesional | capfirst  }}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </div>

</div>
{% endblock %}
