{% extends 'app/base.html'  %}

{% load static %}

{% block js %}

{% endblock %}


{% block css %}

{% endblock %}

{% block contenido %}

<h1>Generar Reporte en PDF</h1>
    <form action="{% url 'generar_pdf' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Reporte de Medicamentos</th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Generar PDF">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <form action="{% url 'generar_recetas_pdf' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Reporte de Recetas Emitidas</th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Generar PDF">
                </td>
            </tr>
        </table>
    </form>

{% endblock %}
